<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ibf.live.dao.help.HelpMenuDao">
        
        <resultMap id="HelpMenuResult" type="HelpMenu">
            <result property="id" column="id"/>
            <result property="parentId" column="parentId"/>
            <result property="name" column="name"/>
            <result property="createTime" column="create_time"/>
            <result property="sort" column="sort"/>
            <result property="linkBuilding" column="link_building"/>
        </resultMap>
        <resultMap id="HelpMenuContentResult" type="HelpMenu">
            <result property="id" column="id"/>
            <result property="parentId" column="parentId"/>
            <result property="name" column="name"/>
            <result property="createTime" column="create_time"/>
            <result property="content" column="content"/>
            <result property="sort" column="sort"/>
            <result property="linkBuilding" column="link_building"/>
        </resultMap>
        <sql id="edu_help_menu_columns">
            EDU_HELP_MENU.ID,
            EDU_HELP_MENU.PARENTID,
            EDU_HELP_MENU.NAME,
            EDU_HELP_MENU.CREATE_TIME,
            EDU_HELP_MENU.SORT,
            EDU_HELP_MENU.LINK_BUILDING
        </sql>
        <sql id="edu_help_menu_content_columns">
            EDU_HELP_MENU.ID,
            EDU_HELP_MENU.PARENTID,
            EDU_HELP_MENU.NAME,
            EDU_HELP_MENU.CREATE_TIME,
            EDU_HELP_MENU.CONTENT,
            EDU_HELP_MENU.SORT,
            EDU_HELP_MENU.LINK_BUILDING
        </sql>

        <sql id="edu_help_menu_properties">
            #{id},
            #{parentId},
            #{name},
            #{createTime},
            #{content},
            #{sort},
            #{linkBuilding}
        </sql>
     
        <!-- 查询所有一级菜单-->
        <select id="getHelpMenuOneAll" resultMap="HelpMenuResult">
        	SELECT * FROM EDU_HELP_MENU WHERE PARENTID=0  ORDER BY SORT DESC
        </select>
		<!-- 根据一级分类ID查询二级菜单-->
        <select id="getHelpMenuTwoByOneId" resultMap="HelpMenuResult" parameterType="Long">
            SELECT * FROM EDU_HELP_MENU WHERE PARENTID=#{value} ORDER BY SORT DESC
        </select>

        <!-- 删除菜单-->
        <delete id="delHelpMenuById" parameterType="Long">
        	DELETE FROM EDU_HELP_MENU WHERE ID=#{value}
        </delete>
        <!-- 更新菜单-->
        <update id="updateHelpMenuById" parameterType="HelpMenu">
        	UPDATE EDU_HELP_MENU SET
        	PARENTID=#{parentId},
        	NAME=#{name},
        	CONTENT=#{content},
        	SORT=#{sort},
        	LINK_BUILDING = #{linkBuilding}
        	WHERE ID=#{id}
        </update>
        <!-- 添加菜单-->
        <insert id="createHelpMenu" parameterType="HelpMenu" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        	INSERT INTO EDU_HELP_MENU(<include refid="com.ibf.live.dao.help.HelpMenuDao.edu_help_menu_content_columns"/>) VALUES(<include refid="com.ibf.live.dao.help.HelpMenuDao.edu_help_menu_properties"/>)
       	</insert>
        <!-- 根据ID查询菜单-->
        <select id="getHelpMenuById" parameterType="Long" resultMap="HelpMenuContentResult">
        	SELECT <include refid="com.ibf.live.dao.help.HelpMenuDao.edu_help_menu_content_columns"/> FROM EDU_HELP_MENU WHERE ID=#{value}
        </select>
        <!--end-->
</mapper>